#kaffe {
	/*display: table;*/
}
#kaffe .fagomraade {
	/*display: table-row;*/
}
#kaffe .name{
	/*display: table-cell;*/
	line-height: 32px;
	font-size: 28px;
}
#kaffe .forbruk {
	/*display: table-cell;*/
}

#kaffe .kaffebar {
	display: inline-block;
	height: 32px;
	background: #ece0e0 url("../img/coffeecup01.svg") repeat-x;
}
#kaffe .sum{
	
}