#snakkeboble{
      overflow: hidden;
}
#snakkeboble div{
      background: url("../img/bubble03.svg") no-repeat;
      float: right;
      height: 400px;
      padding: 100px 216px 94px 113px;
      width: 283px;
 }