.veivere * {
	box-sizing: border-box;	
}

.veivere .person {
	display: inline-block;
	width: 40px;
	position: relative;
	background-color: #fff;
}
.veivere .antrekk {
	position: absolute;
	top: 10%;
	width: 40px;
}